.cover {
    height: 100vh;
    background: linear-gradient(0deg, rgba(28, 28, 28, 0.81) 0%, rgba(85, 85, 85, 0) 100%);
}

.bg-img {
    position: absolute;
    z-index: -10;
    height: 100vh;
    width: 100vw;
}