.content {
    background-color: #004869;
    color: #84C1DC;
    padding: 10px 20px;
    margin: 0;
}

.allign {
    display: flex;
    align-items: center;
}

.app-name {
    padding-left: 20px;
}

.live-btn {
    margin-right: 10px;
    background-color: #00354D !important;
    color: #84C1DC !important;
    border: none !important;
    box-shadow: none !important;
}

.training-btn {
    background-color: #004869 !important;
    color: #84C1DC !important;
    border: none !important;
    box-shadow: none !important;
}

.input-field {
    background-color: #00354D !important;
    border: none !important;
    box-shadow: none !important;
    color: #84C1DC !important;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.align-middle {
    display: flex;
    justify-content: space-between;
}