::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: hsl(217, 91%, 80%);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: hsl(217, 91%, 70%);
}